apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_API_NAME} 
  namespace: ${K8S_NAMESPACE}
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: ${APP_API_NAME}
      author: ${APP_OWNER_CUID}
      org: ${K8S_NAMESPACE}
      space: ${APP_SPACE}
      created_by: hyperion
  template:
    metadata:
      labels:
        app: ${APP_API_NAME}
        author: ${APP_OWNER_CUID}
        org: ${K8S_NAMESPACE}
        space: ${APP_SPACE}
        created_by: hyperion
    spec:
      imagePullSecrets:
      - name: ${REG_SECRET}
      containers:
        - name: ${APP_API_NAME}
          image: ${REG_IMAGE}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            limits:
              memory: 2048Mi
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: kube-${APP_SPACE}
            - name: JAVA_OPTS          
              value: -Xms512m -Xmx1024m -XX:MetaspaceSize=300124K -XX:MaxMetaspaceSize=300124K -Xss80440K -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:+UseConcMarkSweepGC 
