apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${APP_API_NAME}
  namespace: ${K8S_NAMESPACE}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/load-balance: "round_robin"
    kubernetes.io/ingress.allow-http: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "false"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"   
spec:
  tls:
  - hosts: 
    - ${APP_API_NAME}.kubeodc-test.corp.intranet
    #- ${APP_API_NAME}.kubeodc-prod.corp.intranet
    secretName: managed-tls-secret
  rules:
  - host: ${APP_API_NAME}.kubeodc-test.corp.intranet
  #- host: ${APP_API_NAME}.kubeodc-prod.corp.intranet
    http:
      paths:
      - path: /
        backend:
          serviceName: ${APP_API_NAME}
          servicePort: 8080
